<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>
  <body>
    <div class="container">
      <% articles.forEach(article =>{%>
      <h1>Title: <%=article.title%></h1>
      <h3>Description: <%=article.description%></h3>
      <p>
        Markdown: <%=article.markdown%> || <%=
        article.createdAt.toLocaleDateString()%>
      </p>
      <a href=" /articles/<%=article._id%>">View</a>
      <% }) %>
    </div>
    <!-- // after % symbol this "-" it'll render exact html elements from -->
    <!-- // after % symbol this "=" it'll render variable strings as texts without html elements if there is any -->
  </body>
</html>
